/* Import Fonts*/
@import url('./font.css');
/*Importing var */
@import url('./variable.css');
/*Importing global style */
@import url('./global.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
    font-family: var(--worksans);
    letter-spacing: 1.5px;
}
header{
    background-image: url(../img/bg-shape.png);
    background-repeat: no-repeat;
    background-position: right;
}
.navbar{
    padding: 1.5rem 5rem;
}
.navbar .navbar-nav{
    padding: 0 0 0 8rem;
}